        <div>
            <!-- Start Slider -->
            <section class="slider">
                <div class="container">
                    <div class="owl-carousel">
                        <div class="item">
                            <div class="clearfix">
                                <img src="https://i.imgur.com/rAf4Nd5.png" alt="HP EliteBook 1040 G3 Notebook" class="slider-img">
                                <div class="slider-content">
                                    <h2>TARGET PRICE - £749</h2>
                                    <p>HP EliteBook 1040 G3 Notebook - Everything a business Ultrabook should be.</p>
                                    <a href="#/products/2TL59ES" class="btn btn-default btn-white">Shop Now</a>
                                </div>
                            </div>
                        </div>

                        <!--<div class="item">
                            <div class="clearfix">
                                <img src="https://i.imgur.com/XbJZk66.png" alt="HP 255 G6 Notebook PC" class="slider-img">
                                <div class="slider-content">
                                    <h2>TARGET PRICE - £239</h2>
                                    <p>HP 255 G6 Notebook PC - Proven Performance. Affordably priced.</p>
                                    <a href="#/products/2SY42ES" class="btn btn-default btn-white">Shop Now</a>
                                </div>
                            </div>
                        </div>-->

                        <div class="item">
                            <div class="clearfix">
                                <img src="https://i.imgur.com/aN7lcjd.png" alt="HP EliteBook x360 1030 G2" class="slider-img">
                                <div class="slider-content">
                                    <h2>TARGET PRICE - £899</h2>
                                    <p>HP EliteBook x360 1030 G2 - Seductive. Secure. Your new favorite carry-on.</p>
                                    <a href="#/products/2TL60ES" class="btn btn-default btn-white">Shop Now</a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="clearfix">
                                <img src="https://i.imgur.com/xNdwDXi.png" alt="HP ProBook 430 G4 Notebook PC" class="slider-img">
                                <div class="slider-content">
                                    <h2>TARGET PRICE – £590</h2>
                                    <p>HP ProBook 430 G4 Notebook PC - Equipped for the demands of your work </p>
                                    <a href="#/products/2SY40ES" class="btn btn-default btn-white">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Start Slider -->
            <!-- Start News -->
            <section class="content-block">
                <div class="container">
                    <div class="animatedParent animateOnce" data-appear-top-offset="-250">
                        <h3 class="content-heading animated">News</h3>
                    </div>
                    
                    <div class="row animatedParent animateOnce" data-appear-top-offset="-250" data-sequence="200">
                        <div class="col-md-6">
                            <div class="media news-detail animated" data-id='1'>
                                <div class="media-left">
                                    <a href="#/welcome-to-silverwing" class="media-object"><img src="images/black_friday_image.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#/welcome-to-silverwing" title="Welcome to Silverwing">Welcome to Silverwing</a></h4>
                                    <span class="media-date"><img src="images/calander-icon.png" alt=""> 1 Nov 2017</span>
                                    <p>To kick start the Silverwing Beta, we have partnered with Westcoast and HP to offer exclusive Black Friday stock to resellers with our unique pricing model.</p>
                                    <a href="#/welcome-to-silverwing" class="read-more" title="Read More">read more <img src="images/read-more-arrow.png" alt=""></a>
                                </div>
                            </div>                  
                        </div>
                        <div class="col-md-6">
                            <div class="media news-detail animated" data-id='2'>
                                <div class="media-left">
                                    <a href="#/how-it-work" class="media-object"><img src="images/how_it_works_image.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#/how-it-work" title="How it works">How it works</a></h4>
                                    <span class="media-date"><img src="images/calander-icon.png" alt=""> 1 Nov 2017</span>
                                    <p>Silverwing uses a unique pricing model built from a simple concept; the more each product is bought, the further the price drops. 
                                    In this article, we go through the basics of how our platform works.</p>
                                    <a href="#/how-it-work" class="read-more" title="Read More">read more <img src="images/read-more-arrow.png" alt=""></a>
                                </div>
                            </div>                  
                        </div>
                    </div>              
                </div>          
            </section>
            <!-- End News -->
            <!-- Start News -->
            <section class="content-block grey-block">
                <div class="container">         
                    <div class="animatedParent animateOnce" data-appear-top-offset="-250">
                        <h3 class="content-heading animated">PRODUCT CATEGORIES</h3>
                    </div>

                    <div class="row animatedParent animateOnce" data-appear-top-offset="-250" data-sequence="200">
                        <div class="col-sm-4 text-center animated" data-id='1'>                     
                            <a href="#/products/productcategory/Laptops" class="product" title="Laptops">
                                <div class="product-img"><img src="images/product-01.png" alt=""></div>
                                <div class="product-name">Laptops</div>                     
                            </a>
                        </div>
                        <div class="col-sm-4 text-center animated" data-id='2'>                     
                            <a href="#/products/productcategory/Desktops" class="product" title="Desktops">
                                <div class="product-img"><img src="images/product-02.png" alt=""></div>
                                <div class="product-name">Desktops</div>                        
                            </a>
                        </div>
                        <div class="col-sm-4 text-center animated" data-id='3'>                     
                            <a href="#/products/productcategory/Printers" class="product" title="Printers">
                                <div class="product-img"><img src="images/COMING_SOON_PRINTERS.png" alt=""></div>
                                <div class="product-name">Printers</div>                        
                            </a>
                        </div>                  
                    </div>
                </div>          
            </section>
            <!-- End News -->
        </div>