<footer class="footer">		
	<a href="#" title="Silverwing" class="footer-logo"><img src="images/footer-logo.png" alt=""></a>		
	<ul class="footer-links">
		<li><a ui-sref="term-and-conditions">Account Holder Agreement</a></li>
           <li><a ui-sref="privacy-policy">Privacy Policy</a></li>
           <!-- <li><a ui-sref="contact-us">Contact us</a></li> -->
           <li><a ui-sref="report-a-problem">Contact us</a></li>
           <!-- <li><a ui-sref="pilots-information">Pilots Information</a></li> -->
	</ul>
	<img src="/app/images/4 card logos.png" class="footer-card-logo">
	<p class="copyright">Copyright &copy;2017 Silverwing. All rights reserved.</p>							
</footer>