<div class="about-birds"></div>
<section class="about-content">
    <div class="container">
    <h2 class="text-center">Silverwing FAQ</h2>

    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        This section information related to <strong>Silverwing</strong>. If you cannot find an answer to your question, make sure to get in touch via our contact page.
    </div>

    <br />

    <div class="panel-group" id="accordion">
        <div class="faqHeader">General questions</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What is Silverwing?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    At Silverwing, our mission is to help businesses get what they want, for less! Our platform connects procurement professionals and business buyers alike in a way that allows them to <strong>think and act - not just at an individual level - but at market level!</strong> With Silverwing you'll be able to make more informed, smarter buying decisions by <strong>smarter buying together!</strong> 
                    <br />
                    <br />
                    Silverwing allows you to harness the buying power of others and <strong>be rewarded for the purchases you make!</strong> Our prices are shaped by the market in real-time - so there's no need to negotiate! <strong>If the market price drops after you buy, we credit you the difference in real-time!</strong> 

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Who is Silverwing?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    Silverwing is the trading name of CASQOL Limited, a company registered in England and Wales, Company Number 10716411, and with registered address 243 High Street, Boston Spa, West Yorkshire, LS23 6AL, VAT number 274673576.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Who do I contract with when buying goods through Silverwing?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    When you buy products through Silverwing, you contract directly with the supplier of that product and their terms and conditions will be displayed to you on the relevant product page.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven2">What happens after I register to use Silverwing?</a>
                </h4>
            </div>
            <div id="collapseEleven2" class="panel-collapse collapse">
                <div class="panel-body">
                    Once your registration to use the Silverwing Service is accepted, you can browse the products available to purchase. During our initial testing phase with Westcoast we will have a limited number of products available but will soon be adding more.
                    <br />
                    <br />
                    All customers have to complete a Supplier Credit Facility application with Westcoast during the initial testing phase so that we can link your company details to the Westcoast delivery system. This step has to happen before you can make a purchase, even if you do not want to pay using this Supplier Credit Facility.

                </div>
            </div>
        </div>
        <br />
        <div class="faqHeader">Pricing</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">What is a Silverwing price curve?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    The Silverwing <strong>Price Curve</strong> is our way of displaying the price of a product.
                    <br />
                    <br />
                    When you're browsing products on our site, you'll notice each one has a graph alongside it. This graph is known as the Price Curve' and it allows you to see you how many units of a product have already been sold and what the current price of that product is (i.e. what you'd pay today, excluding VAT). You'll also be able to see what the price of that product could be in the future, if further sales are made. We update our Price Curve pricing information in real-time!
                    <br />
                    <br />
                    You'll also see that each Price Curve has an <strong>Offer Period</strong> End Date displayed next to it. Each product will only be available for sale up to the Offer Period End Date shown. Once the Offer Period ends, no further sales can be accepted for the product under that specific Price Curve. That doesn't necessarily mean we won't re-stock that particular product, it just means it's no longer available to buy under the terms of the previous Price Curve.
                    <br />
                    <br />
                    Because we update our Price Curve information in real-time, you'll be able to see if the Current Price drops. If the Current Price of a product drops to less than what you paid for it, we'll credit you the difference in real-time! <i>You can find out more about Silverwing Credits under "What are Silverwing Credits?". </i>


                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo2">What price do I pay?</a>
                </h4>
            </div>
            <div id="collapseTwo2" class="panel-collapse collapse">
                <div class="panel-body">
                    You'll pay the <strong>Current Price</strong> of a product at the time of your purchase - this will be clearly shown on the <strong>Price Curve</strong> which is next to the product itself. The Current Price excludes VAT.
                    <br />
                    <br />
                    <i>You can find out more about our Price Curves under "What is a Silverwing Price Curve?"</i>
                    <br />
                    <br />
                    <i>You can find out more about VAT under "What about VAT?"</i>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo3">What are Silverwing Credits?</a>
                </h4>
            </div>
            <div id="collapseTwo3" class="panel-collapse collapse">
                <div class="panel-body">
                    At Silverwing we reward you for <strong>smarter buying together!</strong>
                    <br />
                    <br />
                    In a nutshell, Silverwing Credits are the difference between the price you paid for a product and the current price of that product (shown on its Price Curve)! So if you paid &pound;100 for a product which we're now selling for &pound;80, we'll credit you the &pound;20 difference instantly! Simple!
                    <br />
                    <br />
                    <BLOCKQUOTE><strong>Silverwing Credits (&pound;)    =    Price you Paid (&pound;) - Current Price (&pound;)</strong></BLOCKQUOTE>
                    <br />
                    <br /> 
                    You can spend your Silverwing Credits on any Silverwing product or have them sent to your bank account as cash.
                    <br />
                    <br />
                    Your Silverwing Credit will either show as <strong>available</strong> or <strong>pending</strong>. Available credits are ready to be spent now! Pending credits will be all yours to spend once your products have been paid for in full! When that happens, your pending credits will become available.
                    <br />
                    <br />
                    You'll continue to receive Silverwing Credits until the offer period of the product you bought ends. See <i>"What is a Silverwing Price Curve?" for more information on Offer Period End Dates.</i>
                    <br />
                    <br />
                    Also see <i> Why are my Silverwing Credits pending?</i>
                    <br />
                    <br />
                    <small>You should refer to your Silverwing account holder agreement for details of any applicable Terms and Conditions in relation to Silverwing Credits</small>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">What can I do with Silverwing Credits?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    You can spend your Silverwing Credits on any Silverwing product or have them sent to your bank account as cash.
                    <br />
                    <br />
                    <strong>Spend Silverwing Credits on Silverwing</strong>
                    <br />
                    <br />
                    You can spend your available Silverwing Credits on any Silverwing order - just look for the pay by Silverwing Credit' option at check out! You can pay for all, or just part of your order, using your available Credits.
                    <br />
                    <br />
                    <strong>Withdraw Silverwing Credits as Cash</strong>
                    <br />
                    <br />
                    You can request for your available Silverwing Credits to be sent to your registered bank account within your account page. We aim to process any withdrawal requests as soon as possible, but in any event it shouldn't take longer than 10 working days for your Silverwing Credits to reach your bank account.
                    <br />
                    <br />
                    <strong>Our Withdrawal Policy:</strong>
                    <br />
                    <br />
                    <ul>
                        <li>We can only pay Silverwing Credits to the bank account registered on your Silverwing account;</li>
                        <li>You can make up to two withdrawal requests per day;</li>
                        <li>We will send payments via BACS;</li>
                        <li>You will receive a credit note to document your withdrawal;</li>
                        <li>You can withdraw an available Silverwing Credit balance of &pound;1.00 and over. Amounts below &pound;1.00 cannot be processed; and</li>
                        <li>If your credits are shown as pending, you will not be able to withdraw them until they are shown as available (see <i>"What are Silvering Credits" for further information in relation to available and pending credits).</i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Why are my Silverwing Credits pending?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    Silverwing Credits are shown as pending typically if you've made your purchase using a Supplier Credit Facility and therefore the supplier hasn't yet received full payment for your product or if you have made your purchase via a card payment and we are waiting to receive funds into our account.
                    <br />
                    <br />
                    You'll be able to use your pending Silverwing Credits once your products have been paid for in full! When that happens, your pending credits will become available.
                    <br />
                    <br />
                    <small>You should refer to your Silverwing account holder agreement for details of any applicable Terms and Conditions in relation to Silverwing Credits</small>
                </div>
            </div>
        </div>
        <br />
        <div class="faqHeader">Payments</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Who do I pay?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    Your payment is actually made to the supplier who fulfils your order, and you'll receive an invoice from them.
                    <br />
                    <br />
                    There are a number of ways in which you can pay for products on Silverwing, you can find out more at <i>"How can I Pay for Products on Silverwing?".</i>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">How can I pay for products on Silverwing?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    We accept payment for products using the following payment methods:
                    <br />
                    <br />
                    <ul>
                        <li><strong>Pay by Supplier Credit Facility</strong></li>
                    </ul>
                    You can pay for products using your supplier credit facility.
                    <br />
                    <br />
                    During the initial testing phase all customers will have to complete a Supplier Credit Facility application with Westcoast, so that we can link your company details to the Westcoast delivery system. This has to happen before you can complete an order, even if you intend to pay by card.
                    <br />
                    <br />
                    At Silverwing we work closely with suppliers to ensure your supplier credit limit and balance is updated on your Silverwing Account and is ready to use! Simply select the "Pay by Supplier Credit Facility" option at check out and we'll do the rest!
                    <br />
                    <br />
                    <ul>
                        <li><strong>Pay by Silverwing Credits</strong></li>
                    </ul>
                    You can pay for products using your available Silverwing Credits! If you have Silverwing Credits that are available to spend, you can put these towards the cost of your Silverwing purchases, or even pay for your purchase in full using your Silverwing Credits!
                    <br />
                    <br />
                    <i>You can find out more about Silverwing Credits at "What are Silverwing Credits?"</i>
                      <br />
                    <br />
                    <ul>
                        <li><strong>Pay by Card</strong></li>
                    </ul>
                    Coming Soon.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour2">Supplier Credit Facility - applications and amending your limit</a>
                </h4>
            </div>
            <div id="collapseFour2" class="panel-collapse collapse">
                <div class="panel-body">
                    <strong>Apply for a Supplier Credit Facility</strong>
                    <br />
                    <br />
                    During this initial testing phase with Westcoast all customers have to complete a Supplier Credit Facility application with Westcoast so that we can link your company details to their delivery system.
                    <br />
                    <br />
                    The Supplier Credit Facility information request which can be found within your account page. The relevant Supplier will then process this information and we'll let you know about their decision.
                    <br />
                    <br />
                    Please note that Silverwing doesn't have any involvement in the credit granting processes or lending decisions made by suppliers. You should contact the supplier if you'd like to speak with someone in relation to the outcome of your application.
                    <br />
                    <br />
                    <strong>Increasing your Supplier Credit Limit</strong>
                    <br />
                    <br />
                    Once you have you have a Supplier Credit Facility you can apply for an increase in the Supplier Credit Facility via the account page.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwoNew">Why do you need my bank details?</a>
                </h4>
            </div>
            <div id="collapseTwoNew" class="panel-collapse collapse">
                <div class="panel-body">
                    We need your bank details to process any Silverwing Credit withdrawals. See <i>"What are Silverwing Credits?"</i> and <i>"What can I do with Silverwing Credits?"</i> for further information.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwoLatest">How do I change my bank details?</a>
                </h4>
            </div>
            <div id="collapseTwoLatest" class="panel-collapse collapse">
                <div class="panel-body">
                    You can change your registered bank account details via your account page.
                </div>
            </div>
        </div>
        <br />
        <div class="faqHeader">Returns and VAT</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne7">Who do I contact about returns?</a>
                </h4>
            </div>
            <div id="collapseOne7" class="panel-collapse collapse">
                <div class="panel-body">
                    If you wish to return any products bought on Silverwing, you will need to contact the supplier who fulfilled your order. The supplier's contact information is on the order confirmation email we sent to you after your made your purchase.The supplier will then process any return requests in line with their own returns policy.
                    <br />
                    <br />
                    Please bear in mind that your right to return a product may be affected if you have already withdrawn or spent Silverwing Credits originating from the purchase of the product you wish to return. 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen7">What about VAT?</a>
                </h4>
            </div>
            <div id="collapseTen7" class="panel-collapse collapse">
                <div class="panel-body">
                    The price you pay for a product (the Current Price) is always exclusive of VAT. VAT at the usual rate will be added and shown during the checkout process.
                    <br />
                    <br />
                    When you buy products through Silverwing, the supplier who's fulfilling your order will send you an invoice which includes a breakdown of your VAT calculation.
                    <br />
                    <br />
                    <strong>What about VAT on Silverwing Credits?</strong>
                    <br />
                    <br />
                    If you earn any Silverwing Credits from an order, <strong>you will receive a credit note from the supplier</strong> which will include a breakdown of any VAT you're being refunded. It is your company's responsibility account for any VAT refunds.
                    <br />
                    <br />
                    You can normally expect to receive a credit note in relation to your Silverwing Credits at the earliest of any of the following stages:
                    <br />
                    <ol>
                        <li>If you spend or withdraw any available Silverwing Credits earnt by buying the product, <strong>before stages 2 or 3 below occur</strong></li>
                        <li>If the Minimum Price* of the product is reached as per its price curve</li>
                        <li>If it's the end of the product's Offer Period (and therefore no further Silverwing Credits are owing).</li>
                    </ol>
                    <br />
                    * The Minimum Price of a product is the lowest possible price a product will be sold for under its Silverwing Price Curve.
                </div>
            </div>
        </div>
    </div>
    <style>
    h4 {
        padding-bottom: 0px !important;
    }
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
</style>
</div>
</section>
<!-- End Content -->