<!-- <h1>How it work page...!!!</h1> -->
<!-- Start Content -->
<!-- <div class="about-birds-outer">
    <iframe src="/birds/birds.html" class="about-birds"></iframe>
</div> -->
<div class="about-birds"></div>
<section class="about-content">
    <div class="container">
        <h2 class="text-center">About Us</h2>
        <h4 class="text-center">Our Mission: helping businesses get what they want, quicker and for less</h4>
        <p><em>We’ve never been better connected than we are today.</em> Whether we like it or not, in our tech-dependent world, we have become reliant on our ability to easily access information to efficiently reduce our costs.</p>
        <p>The digital age has completely revolutionised the way we do business. It’s opened doors to new strategies only possible due to increased connectivity and access to information. But despite this <em>technology in procurement hasn’t changed much so far.</em></p>
        <p>The key challenges of procurement have remained the same for years and driving further savings from the same set of processes is increasingly difficult, with the steps taken to reach better prices often being <em>time consuming and complicated.</em></p>
        <p class="italic">Silverwing is here to <em>help you harness the buying power of the whole marketplace – and all the advantages that come with it.</em></p>
        <p class="text-center">At Silverwing, we consider the decisions of buyers and suppliers to be fundamentally connected. Our platform brings together procurement professionals and business buyers in a way that allows them to think and act – not just at an individual level – but at a market level. We’re helping organisations make more informed decisions, with more transparency and better information. </p>
        <br>
        <h5>Here’s a run-down of our key features:</h5>
        <ul class="default-listing">
            <li>A business-to-business platform that’s free to use</li>
            <li>Buy what you want, whenever you want it</li>
            <li>Our prices are shaped by the market (in real-time) so there’s no need to negotiate - if the market price drops after you buy, we credit you the difference in real-time</li>
            <li>We bring transparency to markets, enabling both buyers and sellers to understand the potential payoffs of their actions. We bring buyers access to information about what’s been purchased and how those purchases have affected the price of the goods; and we give sellers more visibility on all goods sold and any monies owed.</li>
        </ul>

        <h4 class="text-center">Our Long Term Goal</h4>
        <p>We aim to provide organisations with information on market behaviour that can support them in coordinating and collaborating (anonymously) with each other. We believe this will be a key driver in the adoption of new technologies, and will help unlock greater value throughout the entire supply chain. Join us in harnessing new opportunities, and help your business solve everyday challenges – one purchase at a time.</p>
        <br>
		<h4 class="text-center">Company Details</h4>
		<ul class="address-detail clearfix">
			<li><h5>Company Name <span>Casqol Ltd</span></h5><h5>Trading as <span>Silverwing</span></h5></li>
			<li><h5>Registered Office Address* <span>243 High Street<br>Boston Spa<br>Wetherby<br>West Yorkshire<br>LS23 6AL</span></h5></li>
			<li><h5>Company Number <span>10716411</span></h5></li>
		</ul>
        <br>
        <br>
        <br>
        <p>*Registered office address is also the place of registration.</p>
        <br>
        <br>
    </div>
</section>
<!-- End Content -->