<!-- <h1>How it work page...!!!</h1> -->
<!-- Start Content -->
<!-- <div class="about-birds-outer">
    <iframe src="/birds/birds.html" class="about-birds"></iframe>
</div> -->
<div class="about-birds"></div>
<section class="about-content">
    <div class="container" style="padding: 0px 200px;">
        <h2 class="text-center">How it works</h2>
        <p>Silverwing is built from a simple concept:</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>1) The more each product is bought, the further the price drops. </em></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>2) If the price drops after you buy it, you'll be credited the difference.</em></p>
        <p>Let's use the following example to show this in action.</p>
        <p>Meet Amanda and Bill, they both want to buy laptops for their businesses.</p>
        <br>
        	<div style="text-align: center;"><img alt="" src="images/bill_and_amanda.jpg" style="width: 600px;" align="middle"/></div>
        <br>
        <p>Amanda logs in to Silverwing and decides which laptop she wants, pays the current price (&pound;500) and has the laptop delivered to her the next day.</p>
        <br>
        <div style="text-align: center;"><img alt="" src="images/amanda_curve.png" style="width: 600px; padding: 0px 50px;" align="middle"/></div>
        <br>
        <p>After this, Bill logs on and can see an updated price curve of the laptop that Amanda bought. He can see that one laptop has been bought.
         If he purchases the same laptop, he would only pay &pound;450 as two units total have been sold.</p>
        <p>Bill buys this laptop, pays &pound;450 and has his laptop delivered the next day.</p>
        <br>
        <div style="text-align: center;"><img alt="" src="images/bill_curve.png" style="width: 600px; padding: 0px 50px; " align="middle"/></div>
        <br>
        <p>As the current price has now dropped to &pound;450, Amanda receives the difference of &pound;50 in Silverwing Credits.</p>
        <p><em>&pound;500 (Price Amanda Paid) - &pound;450 (Current Price) = &pound;50 (Silverwing Credits for Amanda)</em></p>
        
        <p>Amanda can see &pound;50 of Silverwing Credits in her account. She can either use these Silverwing Credits towards future purchases on Silverwing or she can withdraw them into her bank account.</p>
        <br>
        <div style="text-align: center;"><img alt="" src="images/how_to_use_amanda.jpg" style="width: 600px; padding: 0px 50px;" align="middle"/></div>
        <br>
        <p>This price curve would reach it's target price of &pound;400 if 3 units total are sold. Amanda would then have a total of &pound;100 in Silverwing Credits and Bill would have &pound;50 in Silverwing Credits.
         At the end of the offer period, everyone who bought this laptop will have paid the same net amount.</p>
        <br>
        <p>If you have any more questions, please check out our FAQ’s page or send us a message through our contact page.</p>
        <br>
        <br>
    </div>
</section>
<!-- End Content -->