<style>
    ol {
        display: block !important;
        list-style-type: decimal !important;
        -webkit-margin-before: 1em !important;
        -webkit-margin-after: 1em !important;
        -webkit-margin-start: 0px !important;
        -webkit-margin-end: 0px !important;
        -webkit-padding-start: 40px !important;
    }
    li.privacyPolicy {
        display: list-item !important;
        text-align: -webkit-match-parent !important;
    }
    strong, b {
        font-weight: bold !important;
    }
</style>
<div class="about-birds"></div>
<section class="about-content">
    <div class="container">
<h2 class="text-center">Silverwing Privacy Policy</h2>

<p align="center"><strong>Last Updated: 30 September 2017</strong></p>

<p><strong>This Policy</strong></p>

<p>This privacy and cookies policy (the &lsquo;<strong>Policy</strong>&rsquo;) applies to the use by you of the Silverwing Platform (the &lsquo;<strong>Platform</strong>&rsquo;) and the services Silverwing provides through it, (the &lsquo;<strong>Silvering Service</strong>&rsquo;).</p>

<p>The Platform is operated by CASQOL Limited and Silverwing is a trading name of CASQOL Limited. CASQOL Limited is a company registered in England and Wales (company number 10716411) and its registered address is 243 High Street, Boston Spa, West Yorkshire LS23 6AL. &nbsp;When the terms &lsquo;<strong>we</strong>&rsquo;/&rsquo;<strong>us</strong>&rsquo;/&rsquo;<strong>our</strong>&rsquo; appear in this Policy, they mean CASQOL Limited. &nbsp;We are the data controller of the personal data that we collect from or in relation to you in connection with your use of the Platform. &nbsp;This means we are responsible for what we do with that personal information under applicable data protection laws and as at the date of this Policy this means the Data Protection Act 1998 (the &lsquo;<strong>DP Law</strong>&rsquo;). We are registered as a data controller with the Information Commissioner&rsquo;s Office (registration number ZA287728).&nbsp;</p>

<p>We provide the Platform and the Silverwing Serviceis a service to allowregistered users who are from business customers to purchaseIT hardware products from third party suppliers. &nbsp;The user has the opportunity to qualify for rewards in the form of &lsquo;Silverwing Credits&rsquo; for the purchases they make.<em>&nbsp;</em></p>

<p>The purpose of this Policy is to set out the basis on which we will process your personal data.</p>

<p>We ask that you read this Policy carefully as it contains important information about what to expect when we collect your personal data and how we use your personal data. &nbsp;Your use of the Platform is also governed by the Silverwing Account Holder Agreement, the terms of which you accept by clicking the &ldquo;I accept&rdquo; button when you register and before you are able to use the Silverwing Service.erms of Service &nbsp;Please ensure you read the Silverwing Account Holder Agreement of Service as well as this Policy. &nbsp;You should not register to use the Platform until you have read this Policy. &nbsp;Where we require your consent to comply with DP Law we will ask for this separately.</p>

<p>
	<br>
</p>

<p><strong>1. &nbsp;</strong><strong>What personal data do we collect and why?</strong></p>

<p>Through your use of the Platform (such as uploading your details to register as a user) we may collect and process the following personal data about you;</p>

<ol>
	<li class="privacyPolicy">&nbsp;the name, address, company number and VAT number of the operating company which you represent/where you work;</li>
	<li class="privacyPolicy">the account number, sort code and branch address of the bank account of your operating company;</li>
	<li class="privacyPolicy">your comments and questions as may be shared with us using our contact details as visible on the Platform;</li>
	<li class="privacyPolicy">your user ID which is unique to you and is given when you register to use the Platform;</li>
	<li class="privacyPolicy">your Supplier account numbers;</li>
	<li class="privacyPolicy">your work-related contact details including telephone number, mobile number, email address and postal address;</li>
	<li class="privacyPolicy">the fact that your role means you can share with us the financial information of the operating company (such as its bank account details and sort codes);</li>
	<li class="privacyPolicy">information about your computer or mobile device, including where available your IP address, operating system and browser type; and</li>
	<li class="privacyPolicy">any other information that you may provide to us through the Platform.</li>
</ol>

<p>
	<br>
</p>

<p><strong>2. &nbsp;How do we use your personal data?</strong></p>

<p>We may use the personal data described above for the following purposes:</p>

<ol>
	<li class="privacyPolicy">to provide you with access to the Platform so that you can browse it and place orders with third party suppliers ofIT hardware products;</li>
	<li class="privacyPolicy">to provide you with access to the Silverwing Service under the terms of the Account Holder Agreement between us;</li>
	<li class="privacyPolicy">to maintain and improve the functionality of the Platform;&nbsp;</li>
	<li class="privacyPolicy">to communicate with you including sending you notifications about your user account;&nbsp;</li>
	<li class="privacyPolicy">to allow us to manage the account you hold with us;&nbsp;</li>
	<li class="privacyPolicy">to improve your user experience and to prevent abuse;&nbsp;</li>
	<li class="privacyPolicy">for tax, risk management and other internal record keeping purposes;&nbsp;</li>
	<li class="privacyPolicy">to respond to any questions and comments you share with us in relation to the Platform;&nbsp;</li>
	<li class="privacyPolicy">to see what use you make of the Platform and what types of product you purchase;&nbsp;</li>
	<li class="privacyPolicy">to provide you with marketing information (more details below) where you have consented to be contacted for such purposes or it is otherwise lawful for us to do so;&nbsp;</li>
	<li class="privacyPolicy">for compliance with legal, regulatory, and other good governance obligations; and&nbsp;</li>
	<li class="privacyPolicy">for any other purposes related to the user account which you hold with us.&nbsp;</li>
</ol>

<p>We may store and process your information on our own technology systems or on systems owned by third parties that may store and process your information on our behalf &ndash; see below for more information about sharing your personal data. &nbsp;</p>

<p>
	<br>
</p>

<p><strong>3. &nbsp;Aggregated information</strong></p>

<p>We may also convert your personal data into anonymous data and use it on an aggregated statistical basis for research and analysis to improve the Platform and the Silverwing Service we provide through the Platform.</p>

<p>Anonymised aggregated personal information does not personally identify you or any other user of the Platform and is therefore not personal data<strong>.</strong></p>

<p></p>

<p><em><strong>4. </strong></em><strong>Do we share your personal data with any third parties?</strong></p>

<p>We have to share your personal data with each third-party supplier from whom you purchase theIT hardware products  &ndash; otherwise the supplier cannot deliver those product to you or enter into its contract with you.</p>

<p>We may also share it with third parties who provide services to us in connection with the operation of the Platform and/or our business, for example suppliers of general service functions, such as IT software, maintenance and service providers, back up and hosting providers, document storage providers, and providers of Cloud storage functions. &nbsp;We may share it with the law enforcement agencies (such as the police), courts, and with regulators. &nbsp;We may share it with other third parties where necessary for compliance with our legal obligations and where we are otherwise under a duty to disclose it. &nbsp;We may share it with other third parties such as agents who are employed to administer and provide support for your account with the Silverwing Platform.&nbsp;</p>

<p>We may share it to enforce or to protect our rights, property, or safety, or that of our customers or other persons with whom we have a business relationship, or to purchasers or prospective purchasers in relation to a disposal of our business or assets.</p>

<p>If you have consented to this we may share your personal data with other organisations inside and outside our group of companies so that they can contact you for marketing purposes.</p>

<p>We will share your data for the purpose of carrying out analytics. For analytics data, we use Google Analytics and Hotjar. If you would like to review their respective privacy policies, please refer to the following links:</p>

<p><a href="//www.google.com/intl/en/policies/privacy/">www.google.com/intl/en/policies/privacy/</a></p>

<p><a href="//www.hotjar.com/privacy">www.hotjar.com/privacy</a><em></em></p>

<p>You may at any time email us with a request to close your account user account and close it if you are no longer interested in receiving the Silverwing Service. <em></em>You will continue to be bound by our Account Holder Agreement if you close your user account. Please see our Account Holder Agreement. If you would like to review our Account Holder Agreement, please refer to the following link:</p>

<p><a href="//www.silverwing.co/privacy-policy">www.silverwing.co/privacy-policy</a></p>

<p>
	<br>
</p>

<p><strong>5. &nbsp;What safeguards are in place to protect your personal data?&nbsp;</strong>&nbsp;</p>

<p>We will endeavour to keep your information secure once it has been transferred to our systems, in accordance with the DP Law.</p>

<p>Please note that the transmission of information via the internet is not completely secure. &nbsp;We cannot guarantee the security of your data transmitted via the internet including when you use the Platform; any transmission is at your own risk.</p>

<p>
	<br>
</p>

<p><strong>6. &nbsp;Transfers to other countries</strong></p>

<p>Your personal data may be transferred by us as data controller to countries and territories outside the UK and the European Economic Area which do not have the same level of protections for personal data as apply in the UK. &nbsp;We are required by the DP Law to ensure that there are adequate protections for it in those other countries and territories.</p>

<p>
	<br>
</p>

<p><strong>7. &nbsp;How do we conduct direct marketing?&nbsp;</strong>&nbsp;</p>

<p>We would like to provide you with information about new products, services, promotions and offers available from us and from third parties (this means other companies in our group and the suppliers and manufacturers of the products that are, or have been, available through the Silverwing Service), &nbsp;which may be of interest to you. This communication may occur by post, e-mail, SMS and/or telephone. &nbsp; From time to time we may also wish to share your contact details with these third parties so that they can contact you directly about their own products, services, promotions and offers.</p>

<p>Where we need a consent for this we will ask for it separately (outside of this Policy). &nbsp;Where we need to give you an opt-out opportunity before we send you our own marketing we will do so.</p>

<p>Any direct marketing that you receive from us in electronic form will also provide a simple means for you to opt-out of receiving further marketing communications. &nbsp;For example, in e-mails we may provide you with an &ldquo;unsubscribe&rdquo; link, or an e-mail address to which you can send an opt-out request.</p>

<p>You can stop our marketing to you at any time (including marketing by post). &nbsp;To do this use our contact details below. &nbsp;We will take steps to stop any marketing to which you object or in respect of which you withdraw your consent within a reasonable period, but please allow sufficient time for the change to be administered.&nbsp;</p>

<p>Please note, we are not responsible for any direct marketing sent to you by any third party in respect of which you have given your consent. &nbsp;In such instances, you should refer to the privacy policy of that third party. &nbsp;If you wish to unsubscribe you will need to contact them directly.</p>

<p>
	<br>
</p>

<p><strong>8. &nbsp;How you can change your details&nbsp;</strong>&nbsp;</p>

<p>You can manage your information and amend your detailsPlatf by accessing your user Account Profile within the Platform. &nbsp;Please contact us (details below) if your details change (such as if your contact details change or if you no longer work for the operating company).</p>

<p>If you stop using the Silverwing Platform, your information will be retained on our servers and affiliated database for a period of time after which it will no longer be processed by us, in accordance with the Account Holder Agreement.&nbsp;</p>

<p>
	<br>
</p>

<p><strong>9. &nbsp;What are your rights in relation to your personal data?</strong></p>

<p>You have the right to request access to or receive copies of the personal data that we hold about you. If you would like to exercise this right, please contact us in writing at info@silverwing.co. &nbsp;A payment of &pound;10 is required to cover administration and processing costs and you should make this payment by cheque or bank transfer (details to be provided upon request) when you submit your request.</p>

<p>If you believe that any information we have about you is incorrect or incomplete and you are unable to change it yourself via your account, please contact us using the details provided above us as soon as possible. &nbsp;We will take steps to seek to correct or update any information if we are satisfied that the information we hold is inaccurate.&nbsp;</p>

<p>
	<br>
</p>

<p><strong>10. &nbsp;Changes to this Policy</strong></p>

<p>We may change this Policy from time to time by updating this page in order to reflect changes in the law and/or our privacy practices. &nbsp;We will update the date at the top of the Policy accordingly. &nbsp;We encourage you to check this Policy for changes when you revisit the Platform.</p>

<p>
	<br>
</p>

<p><strong>11. &nbsp;Contacting us</strong></p>

<p>If you have any questions about this Policy, please contact us at info@silverwing.co .&nbsp;</p>

<p>
	<br>
</p>

<p><strong>Cookies</strong></p>

<p>We use &ldquo;cookies&rdquo; on the Platform. &nbsp;Cookies are small data files stored on your device when using websites and apps. &nbsp;Cookies help us monitor and improve the functionality and usage of our Platform and your experience of the Platform.</p>

<p>We use cookies to see which areas and features are popular and to count visits to our Platform, to recognise you as a returning visitor and to tailor your experience of the Platform according to your preferences.&nbsp;</p>

<p>You can delete or block cookies on the Platform through your browser settings at any time. For more general information about cookies including the difference between session and persistent cookies, visit
	<a href="http://www.allaboutcookies.org"></a><a href="//www.allaboutcookies.org">www.allaboutcookies.org</a>.</p>
	</div></section>
 