<!-- <h1>How it work page...!!!</h1> -->
<!-- Start Content -->
<!-- <div class="about-birds-outer">
    <iframe src="/birds/birds.html" class="about-birds"></iframe>
</div> -->
<div class="about-birds"></div>
<section class="about-content">
    <div class="container" style="padding: 0px 180px;">
        <h2 class="text-center">Welcome to Silverwing</h2>
        
        <p>At Silverwing, we're building a new kind of marketplace. One that adapts to the way businesses buy and sell, whilst saving you time and money in the process.</p>
        <p>For this beta we have partnered with Westcoast & HP to offer exclusive Black Friday stock.</p>
        <p>As we are a new company, we would love to receive as much feedback as possible so we can continually improve your Silverwing experience.</p>
        <p>If you have any questions or comments, please don't hesitate to get in touch on our contact page or check out our FAQs to learn more.</p>
        <p>Thank you for joining us.</p>
        <p>Sincerely,</p>
        
        <p style="padding: 5px 0px;"><em>Oliver Squires</em></p>
        <p style="padding: 1px 0px;"><em>CEO & Founder</em></p>
        
    </div>
</section>
<!-- End Content -->