	<link rel="shortcut icon" href="app/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../app/css/style.css">	
	<link rel="stylesheet" type="text/css" href="../app/css/dev-style.css">	
<!-- 	<script type="text/javascript" src="../app/js/jquery.js"></script> -->
	<script type="text/javascript" src="../app/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../app/js/modernizr.js"></script>		
	<script type="text/javascript" src="../app/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="../app/js/jquery.nicescroll.min.js"></script>
	<script type="text/javascript" src="../app/js/menu.js"></script>
	<script type="text/javascript" src="../app/js/general.js"></script>
<!-- 	<script src='https://www.google.com/recaptcha/api.js'></script> -->
		
<div class="jumbotron text-center">
    <h1>Smarter Buying Together <span>In association with</span></h1>
    <p><img style="width: 25% ;height: 25% ;" src="assets/images/westcoast.jpg" alt=""></p>     
    <p><a class="btn btn-primary btn-lg" href="#" ng-click="vm.openRegistrationModal()" role="button">Request  Access <img src="assets/images/access-icon.png" alt=""></a></p><br/>
    <p style="vertical-align: bottom;">Already have a Silverwing account? <a href="#" ng-click="vm.openLoginModal()" title="Sign in here">Sign in here</a></p>
</div>
<iframe src="/birds/birds.html" class="bird-animation"></iframe>
