<div class="row">
	<p>We will send a verification code to the mobile phone number
		registered on your account. Upon completion your account will be
		submitted for authorisation by the Silverwing Team.</p>
</div>
<div class="row">
	<form id="resetPasswordForm" name="vm.resetPasswordForm"
		sho-mark-required-fields role="form" class="form-horizontal"
		ng-submit="vm.submit()">
		<div class="form-group" sho-highlight-errors>
			<label class="control-label col-xs-4">Email:</label>
			<div class="col-xs-7">
				<input type="email" class="form-control input-lg"
					name="emailAddress" ng-model="vm.emailAddress" required />
				<div class="help-block"
					ng-messages="vm.resetPasswordForm.emailAddress.$error">
					<p ng-message="required" class="text-danger">
						<small>A valid email address is required.</small>
					</p>
					<p ng-message="email" class="text-danger">
						<small>A valid email address is required.</small>
					</p>
				</div>
			</div>
		</div>
		<div>
			<div class="col-xs-7 col-xs-offset-4">
				<div class="pull-right">
					<button type="submit" sho-validate-on-click class="btn btn-success">Submit</button>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="row">
	<div class="col-xs-12">&nbsp;</div>
</div>
<div class="row">
	<div class="alert alert-danger" ng-show="vm.errorMessage">{{
		vm.errorMessage }}</div>
</div>