
#order-detail-partial .panel {
    -webkit-box-shadow: none; 
    box-shadow: none;     }

#order-detail-partial .panel-primary {
    border-width: 0px;
}

#order-detail-partial .panel-heading {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

#order-detail-partial .panel-body {
    padding-left: 0;
    padding-right: 0; }

#order-detail-partial .light-underline {
    border-bottom: #e5e5e5 1px solid;
}

#order-detail-partial .dark-underline {
    border-bottom: #333 1px solid;
}

#order-detail-partial .double-underline {
    border-bottom: #333 double;
}

#order-detail-partial .summary-box {
    background-color: #eee;
    overflow: visible;
}

.creditapplication-panel {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
    padding: 15px;
}

.small-top-padding {
    padding-top: 7px !important;
}

.pg-width {
    width: 25% ;
}
.word-break {
    word-break: break-all;
    font-size: 13px;
}
.search {
    padding-bottom: 10px !important;
}
.credit-form-para {
    padding-left: 15px !important;
}
.credit-form-button {
    margin-left: 15px !important;   
}