<div class="row">
    <p>We have sent a text message containing a verification code to the mobile phone number registered on your account. Enter the verification code below along with your new password.</p>
</div>
<div class="row">
<form id="resetPasswordForm" name="vm.resetPasswordForm" sho-mark-required-fields role="form" class="form-horizontal" ng-submit="vm.submit()">
    <div class="form-group" sho-highlight-errors>
        <label class="control-label col-xs-4">Verification Code:</label>
        <div class="col-xs-7">
            <input type="text" class="form-control input-lg" name="verificationCode" ng-model="vm.verificationCode"  ng-maxlength="6" required />
            <div class="help-block" ng-messages="vm.resetPasswordForm.verificationCode.$error">
                <p ng-message="required" class="text-danger">
                    <small>A verification code is required.</small>
                </p>
                <p ng-message="maxlength" class="text-danger">
                    <small>OTP length is too long</small>
                </p>
            </div>
        </div>
    </div>
    <div class="form-group" sho-highlight-errors>
        <label class="control-label col-xs-4">New Password:</label>
        <div class="col-xs-7">
            <input type="password" class="form-control input-lg" name="password" ng-model="vm.password"  required sho-password />
            <div class="help-block" ng-messages="vm.resetPasswordForm.password.$error">
                <p ng-message="required" class="text-danger">
                    <small><strong>Please enter your new password.</strong></small>
                </p>
                <p ng-message="password" class="text-danger">
                    <small><strong>Please ensure your new password meets the criteria below.</strong></small>
                </p>
            </div>
            <span class="help-block"><small>Passwords must be between 8 and 20 characters long and must include at least one lowercase letter, one uppercase letter, one digit and one special character (for example #,?,!).</small></span>
        </div>
    </div>
    <div class="form-group" sho-highlight-errors>
        <label class="control-label col-xs-4">Re-enter Password:</label>
        <div class="col-xs-7">
            <input type="password" class="form-control input-lg" name="repeatPassword" ng-model="vm.repeatPassword"  required sho-password-match="vm.password" />
            <div class="help-block" ng-messages="vm.resetPasswordForm.repeatPassword.$error">
                <p ng-message="required" class="text-danger">
                    <small><strong>Please re-enter your new password.</strong></small>
                </p>
                <p ng-message="passwordMatch" class="text-danger">
                    <small><strong>Your passwords do not match.</strong></small>
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="col-xs-7 col-xs-offset-4">
            <div class="pull-right">
                <button type="submit" sho-validate-on-click class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
</form>
</div>
<div class="row">
    <div class="col-xs-12">&nbsp;</div>
</div>
<div class="row">
<div class="alert alert-danger" ng-show="vm.errorMessage">
    {{ vm.errorMessage }}
</div>
</div>
