<header class="header">
    <div class="container">
        <div class="clearfix">
            <a ui-sref="home" title="" class="logo">
                <img src="assets/images/logo.png" alt="">
            </a>    
            <ul class="header-links">
                <li><a href="#" ng-click="vm.openContactModal()" title="Contact">Contact</a></li>
                <li><a href="#" ng-click="vm.openLoginModal()" title="Sign in">Sign in</a></li>
            </ul>       
        </div>
    </div>
</header>