<span ng-if="vm.address.departmentName">Full Name : {{ vm.address.departmentName }}<br/></span>
<span ng-if="vm.address.organisationName">Organization Name : {{ vm.address.organisationName }}<br/></span>
<span ng-if="vm.address.buildingName">Address Line 1 (or company name) : {{ vm.address.buildingName }}<br/></span>
<span ng-if="vm.address.streetAddress">Address Line 2 (Optional) : {{ vm.address.streetAddress }}<br/></span>
<span ng-if="vm.address.locality">Country : {{ vm.address.locality }}<br/></span>
<span ng-if="vm.address.postTown">Town/City : {{ vm.address.postTown }}<br/></span>
<span ng-if="vm.address.postcode">Post Code : {{ vm.address.postcode }}<br/></span>